@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Kumbh Sans', sans-serif;
}

/*  navbar section style  */
.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar-container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar-logo {
    color: #d03030;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar-menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar-item {
    height: 80px;
}

.navbar-links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #f77062;
    color: #fff;
}

.button:hover {
    background: #4837ff;
    transition: all 0.3s ease;
}

.navbar-links:hover {
    color: #f77062;
    transition: all 0.3s ease;
}

/*  navbar responsiveness  */
@media screen and (max-width: 960px) {
    .navbar-container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
        background: #131313;
    }

    .navbar-menu.active {
        background: #131313;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 50vh;
        font-size: 1.6rem;
    }

    #navbar-logo {
        padding-left: 25px;
    }

    .navbar-toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar-item {
        width: 100%;
    }

    .navbar-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    /*#mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transition-property: translate(5%, 20%);
    }*/

    .navbar-btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar-toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/*  main hero section CSS  */
.main {
    background-color: #141414;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 100vh;
    background-color: #fff;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    padding-bottom: 70px;
}

.main-content h1 {
    font-size: 2.5rem;
    color: #d91709;
}

.main-content h2 {
    font-size: 2.5rem;
    color: #534cd8;
}

.main-content p {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 700;
    color: #141414;
}

.main-btn {
    font-size: 1rem;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    padding: 14px 32px;
    border: none;
    border-radius: 4px;
    color: #fff;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.main-btn a {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main-btn:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #4837ff;
    transition: all 0.35s;
    border-radius: 4px;
}

.main-btn:hover {
    color: #fff;
}

.main-btn:hover:after {
    width: 100%;
}

.main-img-container {
    text-align: center;
}

#main-img {
    height: 120%;
    width: 120%;
    margin-left: -120px;
}

/* main hero mobile responsive */
@media screen and (max-width: 768px) {
    .main-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
        height: 100vh;
    }

    #main-img {
        height: 80%;
        width: 80%;
        margin-left: 2px;
    }

    .main-content {
        text-align: center;
        margin-bottom: -6rem;
    }

    .main-content h1 {
        font-size: 1.5rem;
        margin-top: 2rem;
    }

    .main-content h2 {
        font-size: 1.5rem;
    }

    .main-content p {
        margin-top: 1rem;
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 480px) {
    .main-content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main-content h2 {
        font-size: 2rem;
    }

    .main-content p {
        margin-top: 2rem;
        font-size: 2rem;
    }

    .main-btn {
        padding: 12px 36px;
        margin: 2.5rem 0;
    }
}

/*  footer styles  */
footer {
    background-color: #f60909;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}

.footer-container {
    display: grid;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.social-media {
    flex: 1;
}

.social-media a {
    color: #3700ff;
    font-size: 18px;
    margin: 0 10px;
}

.social-media a:hover {
    color: #15de15;
}

.social-media p {
    flex: 1;
    margin: 10px 0;
}

/* footer responsiveness */
@media (max-width: 768px) {
    .social-media a {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .footer-container {
        flex-direction: column;
    }

    .social-media {
        margin-bottom: 10px;
    }

    .social-media p {
        order: -1;
    }
}

/*  about section styles  */
.about {
    background-color: #aba6a6;
}

.about-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 120vh;
    background-color: #aba6a6;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 60px;
    position: relative;
    left: -18px;
}

.about-content {
    text-align: center;
}

.about-content h2 {
    font-size: 2.5rem;
    color: #ae20f0;
    text-align: center;
    margin-top: 1rem;
}

.about-content p {
    margin-top: 2rem;
    font-size: 1rem;
    font-weight: 400;
    color: #141414;
    text-align: center;
    font-weight: 600;
}

.about-img-container {
    text-align: center;
}

#about-img {
    height: 100%;
    width: 100%;
    margin-left: 20px;
    margin-top: 0;
}

#about-img1 {
    height: 100%;
    width: 100%;
    margin-left: 20px;
    margin-bottom: 50px;
}

.open-7-days {
    text-align: center;
}

.open-7-days p {
    text-transform: capitalize;
    font-size: 2rem;
    font-weight: 600;
    color: #3c0b9d;
}

/* about mobile responsive */
@media screen and (max-width: 768px) {
    .about-container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 190vh;
        position: relative;
        right: -18px;
    }

    #about-img,
    #about-img1 {
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }

    .about-content {
        text-align: center;
        margin-bottom: 0;
        font-size: 1;
    }

    .open-7-days {
        text-align: center;
    }

    .open-7-days p {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 480px) {
    .about-container {
        margin-left: auto;
        margin-right: auto;
    }
}

/*  menu-gallery section  */
.menu-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    background: #e0dbdb;
}

.menu-item {
    text-align: center;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 10px;
}

.menu-item img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.menu-item h3 {
    margin-top: 10px;
    font-size: 18px;
}

.menu-gallery p {
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    color: #131313;
}

/* menu-gallery responsive adjustments */
@media only screen and (max-width: 768px) {
    .menu-gallery {
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
}

@media only screen and (max-width: 480px) {
    .menu-gallery {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
        gap: 10px;
    }

    .menu-item h3 {
        font-size: 16px;
    }
}

/* opening hours section styles */
.opening-hours {
    padding: 40px;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
    background: burlywood;
}

.opening-hours h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

table {
    margin: 0 auto;
    width: 80%;
    max-width: 100%;
    border-collapse: collapse;
    text-align: center;
}

table th,
table td {
    padding: 10px;
    border: 1px solid #131313;
}

/* contact section styles */
.contact-details {
    text-align: center;
    box-sizing: border-box;
    width: 100%;
    padding: 70px;
    margin: 0 auto;
    background: burlywood;
}

.contact-details h2 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.contact-details ul {
    list-style-type: none;
    padding: 0;
    width: 80%;
    max-width: 100%;
    margin: 0 auto;
}

.contact-details li {
    margin-bottom: 10px;
}

/* booking section styles */
.booking {
    padding: 50px;
    margin: 0 auto;
    text-align: center;
    background: #746868;
}

.booking h2 {
    font-size: 2rem;
    color: #e15b4c;
    margin-bottom: 30px;
}

.form-group {
    margin: 20px 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
input[type="date"],
input[type="time"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 100px;
}

button[type="submit"] {
    padding: 10px 20px;
    font-size: 1.5rem;
    background-color: #f77062;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #3700ff;
}

/*@media screen and (max-width: 780px) {
    .booking {
        width: 500px;
        padding: 50px;
        margin: 0 auto;
        text-align: center;
        background: #746868;
        box-sizing: border-box;
        text-decoration: none;
    }
}*/

@media screen and (max-width: 480px) {
    .booking {
        max-width: 80%;
        padding: 50px;
        margin: 0 auto;
        text-align: center;
        background: #746868;
    }
}